.ophirofox-europresse {
    background-color: #ffc612;
    font-family: "Roboto", sans-serif;
    padding: 2px 1em;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 24px;
    margin-left: 1rem;
    display: inline-block;
}