.ophirofox-europresse {
    display: inline-block;
    margin: 0 0.25rem;
    padding: 0.25rem 1rem 0 1rem;
    border-radius: 0.3rem;
    background-color: #ffc700 !important;
    color: #000 !important;
    text-decoration: none !important;
    font-size: 1.3rem;
}
