.ophirofox-europresse {
    background-color: #F7DC6F;
    color: #695106;
    font-family: "Merriweather Sans Variable","Merriweather Sans","Lucida Grande","Century Gothic",Arial,sans-serif;
    padding: 1em;
    vertical-align: middle;
    border-radius: 0.5rem;
    display: inline-block;
}
