.ophirofox-europresse {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    background-color: #ffc700;
    color: #000;
    text-decoration: none;
}