.ophirofox-europresse {
    display: block;
    width: 12vw;
    margin: 1rem auto;
    padding: 0.25rem;
    border-radius: 0.3rem;
    background-color: #ffc700;
    color: #000 !important;
    text-align: center;
    text-decoration: none !important;
}