.ophirofox-europresse{
    padding: 0 5px 0 5px;
    color: #000000!important;
    border: #f05246 1px solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 }