.ophirofox-europresse {
    display: inline-block;
    padding: 0.25rem 1rem;
    border-radius: 0.3rem;
    background-color: #ffc700;
    color: #000 !important;
    text-align: center;
    text-decoration: none;
}