.ophirofox-europresse {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    background-color: #ffc700;
    color: #000;
    font-family: "Aeonik","Publica Slab","Helvetica","Arial",sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
}