.ophirofox-europresse {
    background-color: #f2c94c;
    color: #695106;
    font-family: Lato,Lato-fallback,Arial,Helvetica,sans-serif;
    display: inline-block;
    padding: .5em 1em;
    margin: 0 .5em 1em 0;
    vertical-align: middle;
    border-radius: 0.5rem;
}
