.ophirofox-europresse {
    background-color: #f2c94c;
    color: #695106;
    font-family: Lato,Lato-fallback,Arial,Helvetica,sans-serif;
    padding: 1em;
    vertical-align: middle;
    border-radius: 0.5rem;
}
