.ophirofox-europresse {
    background-color: #ffc612;
    font-family: "Roboto",sans-serif;
    padding: 2px 1rem;
    font-size: 15px;
    color: #163860;
    border-radius: 1px;
    display: inline-block;
}