.ophirofox-europresse {
	margin-left: 0.25em;
	background-color: #f7b500;
	border-radius: 0.25rem;
	color: #000 !important;
	margin-right: 0.25em;
	font-size: medium;
	vertical-align: middle;
	line-height: 2.5rem;
	padding: 0.5rem 1rem 0.2rem;
}
