.ophirofox-europresse {
    background-color: #fc3;
    color: black;
    font-family: GraphikCompact,Arial,sans-serif;
    font-weight: 600;
    letter-spacing: .02em;
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
    border-radius: 1.25rem;
    padding: 0.7em;
    margin-bottom: 10px;
    display: block;
    width: 135px;
}
