.lien_europresse {
    color: #1ea0e6;
    font-family: GraphikCondensed, Arial, sans-serif;
    font-size: 24px;
    margin-left: 7px;
}

.justify_center.fw_r.ff_gct.pos_stick.pb_4_nm.pt_4_nm.pb_3_m.pt_3_m.d_flex.width_full.paywall-sticky
{
    display: none;
}