.ophirofox-europresse {
    background-color: #faec70;
    padding: 0.4em;
    padding-right: 1em;
    padding-left: 1em;
    border: 1px solid grey;
    border-radius: 50px;
    text-decoration: none;
    font-size: 0.85em;
}
