.ophirofox-europresse {
  background: #2b4c96;
  color: #fff;
  font-weight: 600;
  padding: 6px 16px 6px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.98em;
  display: inline-block;
}
