.ophirofox-europresse {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ee1c24;
    color: #ee1c24;
    font-size: 1.5rem;
    font-weight: bold;
}