.ophirofox-europresse {
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-bottom: 1rem;
    margin-left: 0px;
    padding: 5px 10px;
    background-color: #eeb54e;
    color: #000;
    border-radius: 2px;
    text-decoration: none;
}

.ophirofox-europresse:hover {
    color: #666666;
}