.ophirofox-europresse {
    font-size: 0.875rem;
    padding: 5px 10px; 
    background-color: rgb(250, 235, 29);
    color: #000;
    border-radius: 4px;
    text-decoration: none;
    display: block;
    margin-top: -2rem; /* negative margin to pull it up next to h1 */
    margin-left: auto; /* pushes to right if there's space */
    width: fit-content;
}

.ophirofox-europresse:hover {
    color: #666666;
}