.ophirofox-europresse {
	background-color: #fed500;
    padding: 1rem 1.5rem;
    color: #000;
    border: none;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: "Karla",ff-karla,sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem!important;
    
}

.ophirofox-europresse:hover {
	background-color: #000000;
	color: #ffffff;
}

.ophirofox-europresse:active {
	background-color: #000000;
	color: #ffffff;
}