.ophirofox-europresse {
    background-color: #ffe047;
    color: #16141e;
    align-items: baseline;
    display: inline-block;
    margin-top: 2.4rem;
    max-width: 46.3rem;
    padding: .76rem 1.6rem;
    padding-top: 1.16rem;
    padding-bottom: 1.16rem;
    border-radius: 6.4rem;
    white-space: normal;
    white-space: initial;
    line-height: 1.3;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: GraphikCompact_Regular, Helvetica, Arial, Roboto, sans-serif;
}
