.ophirofox-europresse{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.25rem 1rem;
    border-radius: 0.3rem;
    background-color: #ffc700;
    color: #000;
    text-decoration: none;
}