.ophirofox-europresse {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #5cb4ab;
    color: #5cb4ab;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}