<link rel="icon" type="image/png" sizes="48x48" href="/ophirofox/icons/48.png">
<link rel="icon" type="image/png" sizes="128x128" href="/ophirofox/icons/128.png">
<meta name="theme-color" content="#ffffff">

<script type="module">
  const manifest_promise = fetch("/ophirofox/manifest.json").then(x=>x.json());
  addEventListener("DOMContentLoaded", async (event) => {
    const manifest = await manifest_promise;
    const { partners } = manifest.browser_specific_settings.ophirofox_metadata;
    console.log(partners);
  });
</script>
