<link rel="icon" type="image/png" sizes="48x48" href="/ophirofox/icons/48.png">
<link rel="icon" type="image/png" sizes="128x128" href="/ophirofox/icons/128.png">
<meta name="theme-color" content="#ffffff">

<script type="module">
  const manifest_promise = fetch("/ophirofox/manifest.json").then(x=>x.json());
  addEventListener("DOMContentLoaded", async (event) => {
    const manifest = await manifest_promise;
    const { partners } = manifest.browser_specific_settings.ophirofox_metadata;
    console.log(partners);
  });
  function mkList(partners) {
     for(
        let el = document.getElementById("partenaires-europresse-supportés");
  			el.tagName != "UL";
        el = el.nextElementSibling
     ) if (!el) return;
     const ul = el;
     const li = ul.getElementsByTagName("li")[0];
     const lis = partners.map((p) => {
        const l = li.cloneNode(true);
        const a = l.getElementsByTagName("a")[0];
        a.textContent = p.name;
        a.href = p.AUTH_URL;
        return a;
     });
    ul.innerHTML = "";
    lis.forEach(li => ul.appendChild(li));
  }
</script>
