name: Sign webextension
on:
  push: 
    branches: master
    paths: [ "ophirofox/**", ".github/workflows/main.yml" ]

defaults:
  run:
    working-directory: ./ophirofox

jobs:
  publish-to-amo:
    name: Build and publish the extension
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20'
      - run: npm install --global web-ext
      - id: version
        run: echo version=$(jq -r ".version + \".$(($(date +%s)/65535)).$(($(date +%s)%65535))\"" < manifest.json) >> $GITHUB_OUTPUT
      - run: jq ".version |= \"$VERSION\"" < manifest.json > manifest.json.tmp && mv manifest.json.tmp manifest.json
        env:
          VERSION: ${{ steps.version.outputs.version }}
      - run: web-ext lint --self-hosted --warnings-as-errors
      - run: web-ext build
      - run: web-ext sign --channel=unlisted
        env:
          WEB_EXT_API_KEY: ${{ secrets.AMO_JWT_ISSUER }}
          WEB_EXT_API_SECRET: ${{ secrets.AMO_JWT_SECRET }}
      - run: ls -lah ./web-ext-artifacts
      - run: cp $PWD/web-ext-artifacts/*xpi ../ophirofox.xpi
      - run: ../update-manifest.py | tee /tmp/update_manifest.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ steps.version.outputs.version }}
          name: Release ${{ steps.version.outputs.version }}
          draft: false
          prerelease: false
          files: |
            ophirofox.xpi
            /tmp/update_manifest.json


